@media only screen and (min-width: 768px){
    html{
        height: 100%;
    }

    body{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .a, .b, .c, .d{
        border: 3px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 200%;
        font-weight: bolder;
        
    }
    .conteinerABC{    
        display: flex;
        flex-direction: row;
        height: 65%;
    }
    .a, .b, .c{
        width: 33.33%;
    }
    .d{
        height: 35%;
    }
}