body{
    height: 200vh;
}
.conteiner{
    background-color: rgb(126, 44, 44);
    display: flex;
    height: 80vh;
    width: 500px;
    margin: auto;
    margin-bottom: 10vh;
}
.conteiner > div{
    height: 100px;
    width: 100px;
    background-color: rgb(226, 52, 52);
    margin: auto;
}

.conteiner2{
    background-color: rgb(2, 100, 146);
    display: flex;
    height: 80vh;
    width: 500px;
    margin: auto;
    margin-bottom: 10vh;
}
.conteiner2 > div{
    height: 100px;
    width: 100px;
    background-color: rgb(99, 173, 233);
    margin: auto 0 ;
}

.conteiner3{
    background-color: rgb(2, 122, 92);
    display: flex;
    height: 80vh;
    width: 500px;
    margin: auto;
    margin-bottom: 10vh;
}
.conteiner3 > div{
    height: 100px;
    width: 100px;
    background-color: rgb(101, 236, 173);
    margin-left: auto;
    /*margin-right: auto;*/
    /*margin-top: auto;*/
    /*margin-bottom: auto;*/
}

.conteiner4{
    background-color: rgb(98, 27, 139);
    display: flex;
    height: 80vh;
    width: 500px;
    margin: auto;
    margin-bottom: 10vh;
}
.conteiner4 > div{
    height: 100px;
    width: 100px;
    background-color: rgb(220, 99, 224);
    margin-bottom: auto;
    margin-left: auto;
    margin-top: auto;
    
}

