/*Ejercicio 11*/
body{
    padding: 10%;
}
.bandera-francesa{
    display: flex;
    margin: auto;
    width: 50vw;
    height: 50vh;
    border: 1px solid black;
}
.azul, .blanco, .rojo{
    height: 100%;
    width: 33.33%;
}
.azul{
    background-color: blue;
}
.blanco{
    background-color: white;
}
.rojo{
    background-color: red;
}
/*Ejercicio 12*/
h2{
    visibility: hidden;
}
h2::before{
    content: "Texto css";
    visibility: visible;
}

/*Ejercicio 13*/
